.carre-contenu {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
  margin-bottom: 80px;
}

.carre-contenu h2 {
  margin-top: 30px;
}

.carre-contenu ul {
  margin-top: 30px;
}

.carre-contenu + div {
  text-align: center;
}

.a-propos-main {
  width: 50%;
  margin: auto;
}

th ,td {
  color: white;
  border: 1px solid #8e86b5;
}

th {
  padding: 10px;
}

td {
  padding: 50px;
}

table {
  border-collapse: collapse;
  margin: auto;
}

caption {
  font-size: 1.5em;
  margin: 70px;
  color: white;
}